{% extends "account/base.html" %}

{% load i18n %}
<!-- Block Title -->
{% block head_title %} {{ block.super }} | {% trans "Change Password" %}{% endblock %}
<!-- Endblock Title -->
<!-- Block Content -->
<style>


</style>
{% block content %}
        <div class="row">
            <div class="intro ml-5">
            <div class="col-md-12 pt-4 text-center">
                        <h1>{% trans "Change Password" %}</h1>
                        <p>{% trans 'Your password is now changed.' %}</p>
                </div>            
            </div>
        </div>
    
{% endblock %}
<!-- Endblock Content -->
