{% extends "account/base.html" %}
{% load crispy_forms_tags %}

{% load i18n %}
<!-- Title -->
{% block head_title %}{% trans "Signup" %}{% endblock %}
<!-- End Title  -->

<!-- Block Content -->
{% block content %}
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-6 mx-auto mt-5">
        <h1 class="ml-5">{% trans "Sign Up" %}</h1>
        <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
          {% csrf_token %}
          {{ form|crispy }}
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}
          <button class="btn btn-lg btn-block mb-3" type="submit">{% trans "Sign Up" %} &raquo;</button>
          <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>
        
        </form>
        
    </div>
  </div>

{% endblock %}

<!-- Endblock Content -->