[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
django = "==2.2.10"
django-allauth = "*"
django-crispy-forms = "*"
redis = "*"
pillow = "*"
psycopg2-binary = "==2.8.2"
django-taggit = "*"

[requires]
python_version = "3.5"
