{% extends 'base.html' %}

<!-- Block Title -->
{% block head_title %} {{block.super }} | Completed {% endblock %}
<!-- Endblock -->

<!-- Block Content -->

{% block content %}
<div class="row">
    <div class="intro ml-5">
        <div class="col-md-12 pt-4 text-center">
            <h3>Success!!!</h3>
            {% if messages %}
                {% for msg in messages %}
                    <p>{{ msg }}</p>
                {% endfor %}
            {% endif %}
            </div>            
    </div>

</div>
{% endblock %}

<!-- EndBlock -->
