{% extends 'base.html' %}


{% load crispy_forms_tags%}
<!-- block Title -->
{% block head_title %} {{ block.super }} | Create Profile {% endblock %}
<!-- endblock -->



<!-- Block content -->
{% block content %}

    {% if messages %}
    {% for msg in messages %}
        <p>{{ msg }}</p>
    {% endfor %}
    {% endif %}

    <div class="row">
        <div class="col-md-7 ">
            <h2>Create Profile</h2>
            <form action="." method="post" enctype="multipart/form-data" class="mb-5">
                {% csrf_token %}
                {{ form|crispy }}
                <input class="btn btn-block " type="submit" value="{% if object %}Edit Profile{% else %} Create Profile {% endif %}">
            </form>
        </div>
    </div>

<!-- Endblock -->
{% endblock %}