{% extends 'base.html' %}

<!-- Block Header -->
{% block header %}
  <h3>Welcome To Your Dashboard <small>{{ profile }}</small></h3>
  <h3>School Share | Dashboard</h3>
  <strong>Navbar:</strong>
    {% if user.is_authenticated %}
      <a href="{% url 'account_email' %}">Change E-mail</a> |
      <a href="{% url 'account_logout' %}">Sign Out</a> |
      <a href="{% url 'account_reset_password' %}">Change Password</a> |
      <a href="{% url 'profiles:profile_edit' profile.pk %}">Edit Profile</a>
      <a href="{% url 'profiles:profile_delete' profile.pk %}">Delete Profile</a>
    {% else %}
      <a href="{% url 'account_login' %}">Sign In</a> |
      <a href="{% url 'account_signup' %}">Sign Up</a>
    {% endif %}
<hr />
{% endblock %}
<!-- Enddblock Header -->

<!-- Block Content -->
{% block content %}
  <!--Flash Message -->
    {% if messages %}
        {% for msg in messages %}
            <p>{{ msg }}</p>
        {% endfor %}
    {% endif %}
  <!-- Flash Message -->
{% endblock %}
<!-- Endblock  -->

