<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>School Share</title>
</head>
<body>
    {% block header %}
        <h3>School Share</h3>
        
      <strong>Navbar:</strong>
        {% if user.is_authenticated %}
        <!-- <a href="{% url 'account_email' %}">Change E-mail</a> | -->
        <a href="{% url 'account_logout' %}">Sign Out</a>
        {% else %}
        <a href="{% url 'account_login' %}">Sign In</a> |
        <a href="{% url 'account_signup' %}">Sign Up</a>
        {% endif %}
      
        <hr />
    {% endblock %}    

    {% block content %}
    {% endblock %}

</body>
</html>


